.create-chat-div {
    width: 400px;
    height: 600px;
    max-height: 600px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgb(156, 3, 3);
    margin-top: 30px;
}
.create-chat-div input { 
    height: 35px; 
}
.div-theme-1 {
    background-color: #f5f8fb;
    font-family: 'Helvetica Neue',
}
.header-theme-1 {
    background-color: #EF6C00;
    color: #fff;
    font-size: 15px;;
}
.div-theme-2 {
    background-color: #f5f8fb;
    font-family: 'Helvetica Neue',
}
.header-theme-2 {
    background-color: #6e48aa;
    color: #fff;
    font-size: 15px;;
}

.div-theme-3 {
    background-color:pink;
    font-family: 'Helvetica Neue',
}
.header-theme-3 {
    background-color: rgb(182, 24, 50);
    color: #fff;
    font-size: 15px;;
}

.create-chat-header, .create-chat-header input {
    border-radius: 15px 15px 0 0;
    width: 400px;
    height: 50px;
    font-family: "Helvetica Neue";
    color: #fff;
    font-size: 20px;
    border: none;
    border-bottom: 2px double black;
}

.create-chat-header input::placeholder { 
    color: white;
    opacity: 1; /* Firefox */
    padding-left: 5px;
}
.create-chat-div input:focus { 
    outline: none;
}

.chat-input {
    margin: 3px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
}
.chat-right {
    align-self: flex-end;
}
.chat-input-right {
    text-align: right;
}

.chat-first {
    margin-top: 10px;
    padding-top: 20px;
}