.story-inner-box {
  color: var(--accent-color-green);
  font-family: "Sigmar One", cursive;
  position: relative;
  background-color: #000000;
}

.storyIntroElement {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-size: var(--font-L);
}

/* :root {
  --animate-delay: 10s;
} */

.fadeInAnime {
  animation: fadeInAnimeFrames 4s;
  /* animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1); */
  opacity: 0;
}

@keyframes fadeInAnimeFrames {
  0% {
    opacity: 0;
    top: 30px;
    transform: scale(1);
  }

  10% {
    opacity: 1;
    top: 0;
    transform: scale(1.2);
  }

  90% {
    opacity: 1;
    top: 0;
    transform: scale(1.5);
  }

  100% {
    opacity: 0;
    top: -30px;
    transform: scale(1.5);
  }
}

.fadeOutAnime {
  animation: fadeOutAnimeFrames 5s;
  /* animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1); */
  opacity: 0;
}

@keyframes fadeOutAnimeFrames {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.storyIntro .welcome {
  background-color: #ffffff;
  border-radius: 10px;
}

.storyIntro div:nth-child(1) {
  animation-delay: 0;
}

.storyIntro div:nth-child(2) {
  animation-delay: 5s;
}

.storyIntro div:nth-child(3) {
  animation-delay: 10s;
}

.storyIntro div:nth-child(4) {
  animation-delay: 15s;
}

.storyIntro div:nth-child(5) {
  animation-delay: 20s;
}

.storyIntro div:nth-child(6) {
  animation-delay: 25s;
}

.storyIntro div:nth-child(7) {
  animation-delay: 30s;
}
.storyIntro div:nth-child(8) {
  animation-delay: 35s;
}

.story-monsters-img img {
  width: 60%;
  height: auto;
}

.fadeInAnimeSlower {
  animation: fadeInAnimeFrames 8s;
  /* animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1); */
  opacity: 0;
}

.changeToForward {
  z-index: 50;
}

.changeToBack {
  z-index: 0;
}
