.story-inner-box {
  background-color: black;
  color: var(--accent-color-green);
  font-family: "Sigmar One", cursive;
  font-size: var(--font-XL);
  position: relative;
}

.storyIntroElement {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --animate-delay: 10s;
}

.fadeIn {
  animation: fadeInFrames 5s;
  /* animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1); */
  opacity: 0;
}

@keyframes fadeInFrames {
  0% {
    opacity: 0;
    top: 30px;
  }

  10% {
    opacity: 1;
    top: 0;
  }

  90% {
    opacity: 1;
    top: 0;
  }

  100% {
    opacity: 0;
    top: -30px;
  }
}

.delay1 {
  animation-delay: 0;
}

.delay2 {
  animation-delay: 5s;
}

.delay3 {
  animation-delay: 10s;
}

.delay4 {
  animation-delay: 15s;
}

.delay5 {
  animation-delay: 20s;
}

.delay6 {
  animation-delay: 25s;
}

.delay7 {
  animation-delay: 30s;
}

.delay8 {
  animation-delay: 35s;
}

.delay9 {
  animation-delay: 40s;
}
