.week-card {
  font-size: smaller;
  border-radius: 2px;
}

.card-header {
  /* text-align: center; */
  font-size: medium;
  /* padding-top: 5px; */
  padding-left: 10px;
}

.card-body-ovrd {
  padding: 10px;
}

.card-text {
  margin: 0;
}

.week-container {
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10%;
}

hr {
  margin: 30px 10px 45px 10px;
}
