/* .login-section-1 {
    background-image: url("../assets/img/child-reading.jpg");
    background-position: center;
    height: 100vh;
    margin-top: 0;
} */

.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
  top: 0;
  left: 0;
}
.bubble {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: #fff5cc;
  border-radius: 50%;
  opacity: 0;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 8s;
}
.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  left: 20%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(3) {
  width: 50px;
  height: 50px;
  left: 35%;
  animation-duration: 7s;
  animation-delay: 2s;
}
.bubble:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 50%;
  animation-duration: 11s;
  animation-delay: 0s;
}
.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 55%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 65%;
  animation-duration: 8s;
  animation-delay: 3s;
}
.bubble:nth-child(7) {
  width: 90px;
  height: 90px;
  left: 70%;
  animation-duration: 12s;
  animation-delay: 2s;
}
.bubble:nth-child(8) {
  width: 25px;
  height: 25px;
  left: 80%;
  animation-duration: 6s;
  animation-delay: 2s;
}
.bubble:nth-child(9) {
  width: 15px;
  height: 15px;
  left: 70%;
  animation-duration: 5s;
  animation-delay: 1s;
}
.bubble:nth-child(10) {
  width: 90px;
  height: 90px;
  left: 25%;
  animation-duration: 10s;
  animation-delay: 4s;
}
@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translate(100px);
    opacity: 0.5;
  }
  100% {
    bottom: 1080px;
    transform: translateX(-200px);
    opacity: 1;
  }
}

/*  */
/* div {
  box-sizing: border-box;
  color: #fff;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}
.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */
html {
  height: 100%;
  margin: 0 auto;
}

body {
  height: 100%;
  margin: 0 auto;
}

#root {
  height: 100%;
}

.parallax-bg {
  box-sizing: border-box;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  column-gap: 30px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#studentCarousel {
  width: 400px;
}

#teacherCarousel {
  width: 400px;
}

.login-bg-01 {
  position: relative;
  background-image: url("../assets/img/login/login-bg-top.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-logo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-bg-01 .bg-01 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.login-bg-02 {
  width: 100%;
  height: fit-content;
  /* background-attachment: scroll;
  background-image: url("../assets/img/login/login-bg02.png");
  background-size: cover;
  background-repeat: no-repeat; */
  /* -webkit-clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%); */
  background-color: var(--accent-color-green);
  padding-top: 40px;
  padding-bottom: 20px;
}
.login-bg-03 {
  background-color: cornflowerblue;
}
.login-bg-04 {
  background-color: darkkhaki;
}

.login-contents-wrapper {
  display: flex;
  max-width: 800px;
  grid-column-gap: 30px;
  height: 100%;
}

.login-who {
  background-color: rgba(255, 255, 255, 0.534);
  border-radius: 30px;
  max-width: 800px;
  height: 70%;
  padding: 30px;
  margin: 30px auto;
  text-align: center;
}

.login-logo-wrapper-inner {
  text-align: center;
  width: 100%;
  display: block;
}

.loginform-popup {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  text-align: left;
}

.login-buttons {
  display: flex;
  width: 600px;
  margin: auto;
  column-gap: 20px;
  margin-top: 30px;
}

.loginform-button {
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  height: 120px;
  font-size: 20px;
  font-family: var(--theme-font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 10px 0 #5c5c5c8c;
}

.login-buttons div:nth-child(1) {
  background: url("../assets/img/login/eyes2.png");
  background-repeat: no-repeat;
  background-position: 130px 90px;
  background-color: var(--accent-color-yellow);
}

.login-buttons div:nth-child(2) {
  background: url("../assets/img/login/eyes3.png");
  background-repeat: no-repeat;
  background-position: 130px 90px;
  background-color: #6c9adf;
}

.login-buttons div:nth-child(3) {
  background: url("../assets/img/login/eyes.png");
  background-repeat: no-repeat;
  background-position: 130px 90px;
  background-color: #ffa1c0;
}
/* .login-logo-img {
  width: 60%;
} */
