.table-striped,
td {
  table-layout: auto;
  width: 250px;
  border: 1px ridge white;
  border-collapse: collapse;
  text-align: center;
  font-weight: 700;
}
caption {
  caption-side: top;
  text-align: center;
}
h6 {
  margin-bottom: 10px;
  color: var(--accent-color-brown);
  text-align: center;
}

th {
  color: var(--accent-color-green);
  height: 100%;
  vertical-align: middle;
}

td {
  border: 0;
  padding: 5px;
}

td a {
  padding: 5px;
  color: #ffffff;
  display: block;
  width: 140px;
  height: 98%;
  border-radius: 5px;
  background-color: var(--accent-color-green);
  transition: 0.5s;
}
td a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #7ddbd3;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.student-home-schedule-wrapper {
  position: relative;
  width: 100%;
  min-height: 300px;
  top: 0;
  left: none;
}
.student-home-schedule-wrapper img {
  width: 100%;
  height: 100%;
}

.student-home-schedule-wrapper h6 {
  text-align: center;
}

.student-home-schedule-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 300px;
}
.student-home-schedule {
  position: absolute;
  top: 80px;
  left: 60px;
}

@media (min-width: 750px) {
  .student-home-schedule-wrapper {
    position: relative;
    top: 30px;
    right: 0;
    width: 280px;
  }
}
