/* This file is for common style of the webpage. */

/* company logo font */
/* @import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

body {
  color: var(--font-dark);
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-M);
  margin: 0;
  background-color: var(--color-bg);
  background-image: url("../assets/img/common/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sigmar One", cursive;
  margin-top: 0;
  margin-bottom: 0;
}

.react-dropdown-list li {
  cursor: pointer;
  display: block;
  list-style: none;
  text-transform: uppercase;
  padding: 5px;
}

.react-dropdown-list li :hover {
  background-color: var(--accent-color-green);
}

/* reset user agent stylesheet */

ul {
  padding-inline-start: 0;
}

@media (min-width: 750px) {
  .body-wrapper {
    margin: auto;
    width: 800px;
  }
}
