:root {
  --theme-font-family: "Sigmar One", cursive;
  --color-bg: #ffffff;
  --accent-color-green: #69bfba;
  --accent-color-yellow: #f5cb29;
  --accent-color-brown: #8b6e5e;
  --color-sea: #e0f8f6;
  --font-dark: #000000;
  --font-XL: 24px;
  --font-L: 22px;
  --font-M: 14px;
  --font-S: 12px;
  --font-XL: 38px;
  --font-XS: 10px;
  --section-radius: 5px;
  --big-radius: 30px;
}
