.island-lock-0 {
  top: 181px;
  left: 211px;
}

.island-lock-1 {
  top: 165px;
  left: 107px;
}

.island-lock-2 {
  top: 58px;
  left: 344px;
}

.island-lock-3 {
  top: 140px;
  left: 414px;
}

.island-lock-4 {
  top: 177px;
  left: 585px;
}

.island-lock-5 {
  top: 259px;
  left: 348px;
}

.island-lock-6 {
  top: 294px;
  left: 503px;
}

.island-lock-7 {
  top: 288px;
  left: 210px;
}
