.student-home-map-date-wrapper {
  margin: 0 auto;
  position: relative;
  width: 140px;
  height: 75px;
  background-image: url("../../assets/img/components/student/home/home-date-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.student-home-map-date-text {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 30px;
  text-align: center;
}

.student-home-map-date-text span {
  font-size: var(--font-S);
}

.student-home-map-island {
  width: 100%;
  height: fit-content;
  position: relative;
  background-size: cover;
  top: 0;
  left: 0;
}

.student-home-map-island-spaceholder {
  width: 100%;
  height: fit-content;
}

.student-home-map-island-spaceholder img {
  width: 100%;
  height: auto;
}

.island-icon {
  width: 40px;
  height: 40px;
}

.island-icon-position {
  position: absolute;
}

.island-icon-position a img:hover {
  width: 75px;
  height: 75px;
}

.student-home-map-island-path {
  display: none;
}

@media (min-width: 550px) {
  /* .student-home-map-wrapper {
    width: 550px;
    height: 530px;
    position: relative;
    margin: auto;
  } */

  /* .student-home-map-island {
    position: absolute;
    width: 100%;
    height: auto;
    top: 100px;
    left: 0;
  } */

  .island-icon {
    width: 63px;
    height: 63px;
  }
}

@media (min-width: 750px) {
  .student-home-map-wrapper {
    width: 800px;
    height: 530px;
    position: relative;
    margin: auto;
  }

  .student-home-map-date-wrapper {
    position: absolute;
    top: 350px;
    left: 0;
    width: 280px;
    height: 130px;
  }

  .student-home-map-island-spaceholder img {
    width: 650px;
    height: 480px;
  }

  .student-home-map-island {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 600px;
    height: 480px;
    top: 100px;
    left: 0;
  }

  .student-home-map-island-path {
    display: block;
    position: absolute;
    top: 70px;
    left: 80px;
  }
}
