@import url("./map.css");

.student-home-map {
  width: auto;
  margin: auto;
  height: 150px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: top 5px left;
  background-image: url("../../assets/img/world-map.png");
}

#islandDesc {
  position: absolute;
  font-family: var(--theme-font-family);
  font-size: var(--font-L);
  top: -50px;
  left: 50px;
  color: #ffffff;
}

#schedule-desc {
  position: absolute;
  font-family: var(--theme-font-family);
  font-size: var(--font-L);
  top: -50px;
  left: -280px;
  color: #ffffff;
  width: 250px;
}

@media (min-width: 550px) {
  .student-home-map {
    height: 250px;
    background-size: 70%;
    background-position: top 15px left 30px;
  }
}

@media (min-width: 750px) {
  .student-home-map {
    width: 800px;
    height: 300px;
    background-size: 70%;
    background-position: top 15px left 30px;
  }
  .student-home-schedule-wrapper {
    position: absolute !important;
  }
}
